<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Crystal Web Application</display-name>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.tests.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadObject</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.tests.ReadObject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.tests.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestProperty</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.tests.TestProperty</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>TestContents</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.tests.TestContents</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestJSONResponse</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.tests.TestJSONResponse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetType</servlet-name>
    <servlet-class>com.sandc.crystal.web.servlet.GetType</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadObject</servlet-name>
    <url-pattern>/read-object</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestProperty</servlet-name>
    <url-pattern>/test-property</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestContents</servlet-name>
    <url-pattern>/test-contents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestJSONResponse</servlet-name>
    <url-pattern>/test-JSONResponse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetType</servlet-name>
    <url-pattern>/getType</url-pattern>
  </servlet-mapping>

</web-app>
